.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px 0;
}

body{
    background-image: url("/img/fondo_login.png");
    background-size: cover;     
    height: 100vh;     
    display: flex;     
    align-items: center;     
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}